@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&display=swap');

:root{
    --tipografia-general: 'Nanum Gothic', sans-serif;
    --tipografia-clara: rgba(106, 102, 102, 0.963);
    --tipografia-oscura: rgba(25, 24, 24, 0.963);
    --color-primario: rgba(70, 137, 246, 0.963);
    --color-secundario: rgba(88, 87, 87, 0.963);
    --color-fondo-claro: rgba(193, 193, 196, 0.813);
    font-size: 16px;
    
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
    font-family: var(--tipografia-general);
    color: var(--tipografia-oscura);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    width: 80%;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0;

}

nav{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

nav .logo{
    font-weight: 900;
    font-family: 'Nanum Gothic', sans-serif;
}

nav li{
    display:inline;  
    margin-left: 1rem;
    font-weight: 600;
}

nav i{
    font-size: 1.3rem;
    color:var(--color-secundario);
    margin-left: 0.8rem;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero{
    width: 80%;
    background-color: var(--color-primario);
    height: 35rem;
    display: flex;
    justify-content: space-around;
    align-items: center;   
}

.imagenPerfil{
    width: 400px;
    clip-path: circle(50% at 50% 50%);
    
    
}

.hero h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 2rem;

}

.hero h1 {
    font-size: 4.5rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.hero p{
    margin-bottom: 2rem;
}

.btns-hero{
    display: flex;
    justify-content:flex-start;
    column-gap: 4rem;
    align-items: center;
    
}

.btn-hero{
    font-family: 'Nanum Gothic', sans-serif;
    padding: 16px 45px;
    background-color: rgba(25, 24, 24, 0.963);
    color: whitesmoke;
    border: 1px solid rgba(25, 24, 24, 0.963);
}

.link-hero{
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.link-hero p{
    color: var(--tipografia-oscura);
    margin-right: 5px;
}

.link-hero i{
    color: var(--tipografia-oscura);
}

/*       Modificacion de forma y color secciones      */

.seccion-modificador{
    width: 80%;
    /* height: 35rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem 0;
    
}

.color{
    background-color: var(--color-fondo-claro);
}


.footer-modificador-color{
    width: 80%;
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-primario);
}

.seccion-encabezado{
    text-align: center;
    background-color: aqua;
}

.seccion-encabezado p{
    background-color: var(--color-primario);
    font-size: 0.75rem;
    /* padding: 10rem; */
    /* margin-bottom: 10.75rem; */
    display: inline;
}

.seccion-encabezado h2{
    font-size: 1.5rem;
    margin: 0.6rem 0 1.5rem 0;
}

/* -------------      Estilos 2da sección         ------------ */

.seccion-columnas{
    display: flex;
    justify-content:space-around;
    padding: 2rem 2rem 4rem 0.5rem;
    /* column-gap: auto; */
}

.seccion-columnas .colA{
    width: 50%;
    
}

.seccion-columnas .colA h2{
    font-size: 1.5rem;
    font-weight: normal;

}

.seccion-columnas .colB{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 15%;
    padding-right: 4.5rem;
    background-color: violet;
}
.seccion-columnas .colB h2{
    display: inline;
    font-size: 4.5rem;
    background-color: var(--color-primario);
    border-radius: 50%;
    text-align: center;
}

.seccion-columnas .colB h3{
    text-align: center;
}

.seccion-datos{
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.seccion-datos li{
    list-style-type: none;
}

.seccion-datos li h2{
    font-size: 0.75rem;
    font-weight: normal;
    color: var(--tipografia-clara);
}

.seccion-datos li p{
    font-size: 0.75rem;
    font-weight: bold;
    color: var(--tipografia-oscura);
}

.seccion-datos .email{
    text-decoration: underline;
}

/* -------------      Estilos 3ra sección         ------------ */

.container {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5% 5%;
    /* grid-auto-flow: row; */
    padding: 0 3rem;
    grid-template-areas:
      "Box-1 Box-2 Box-3"
      "Box-4 Box-5 Box-6";
  }
  
  .Box-1 {grid-area: Box-1;
            background-color: tomato;
}
  .Box-2 {grid-area: Box-2;
            background-color: aqua;
}
  .Box-3 {grid-area: Box-3;}
  .Box-4 {grid-area: Box-4;}
  .Box-5 {grid-area: Box-5;}
  .Box-6 {grid-area: Box-6;}

  .container div:nth-child(n) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    align-items: center;
    /* background-color: tomato; */
    padding: 1rem;
  }

  .container i:nth-child(n){
    color: var(--color-primario);
    padding-bottom: 0.5rem;
  }

  .container h3:nth-child(n){
    font-size: 1rem;
    padding-bottom: 0.5rem;
  }

  .container p:nth-child(n){
    font-size: 0.75rem;
    width: auto;
  }
  
  /* -------------      Estilos 4ta sección         ------------ */

  