@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --tipografia-general: 'Roboto', sans-serif;
    --tipografia-clara: rgba(106, 102, 102, 0.963);
    --tipografia-oscura: rgba(52, 51, 51, 0.963);
    --color-primario: rgba(25, 110, 247, 0.963);
    --color-secundario: rgba(134, 134, 134, 0.963);
    
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
    font-family: var(--tipografia-general);
}

.imagenPerfil{
    width: 200px;
}